<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hyunsoo.android_programming_2017_2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 카메라 관련 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_matziptong"
        android:label="맛집통"
        android:roundIcon="@mipmap/ic_matziptong_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- s3관련 -->
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".AnimationActivity"
            android:theme="@style/NoTitle01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".Profile_editActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UploadActivity"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.hyunsoo.android_programming_2017_2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBF5ZOTWDvp_Wyrt5KiFFQNPyM8VeB7xR8" />

        <activity android:name=".UserInfoActivity" />
        <activity android:name=".postsActivity" />
        <activity android:name=".RestaurantActivity" />
        <activity android:name=".RestaurantAddActivity"></activity>
    </application>

</manifest>